body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: #fff;
    color: #111;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    background: #818283;
}

    .navbar .logo {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .navbar nav a {
        margin-left: 1.5rem;
        text-decoration: none;
        color: #111;
    }

.main-content {
    padding: 2rem;
    justify-content: center;
}

.top-section {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.driver-card, {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    width: 250px; 
    overflow: hidden; /* hide anything outside */
    flex: 2;
}

.feature-card {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
    overflow: hidden; /* hide anything outside */
    flex: 1;
    min-width: 200px;
}

#driver-image {
    width: 100%; 
    height: 300px; 
    object-fit: cover; /* fill the container */
    object-position: top; /* align image to top, crop bottom */
}

.bottom-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

    .bottom-cards .card {
       flex: 1;
        text-align: center;
        padding: 1rem;
        background: #f9f9f9;
        border-radius: 8px;
    }

        .bottom-cards .card img {
            max-width: 800px;
            margin-bottom: 1rem;
            width: 250px;
            overflow: hidden;
            width: 100%;
            object-fit: cover; /* fill the container */
            object-position: top; /* align image to top, crop bottom */
        }

.driver-card, .feature-card, .bottom-cards, .card {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*the smooth hover effect*/
}

.driver-card:hover,
.feature-card:hover,
.bottom-cards .card:hover {
     transform: scale(1.05); /* grow 5% */
     box-shadow: 0 10px 20px rgba(0,0,0,0.15); /* subtle shadow for depth */
     cursor: pointer;
 }
