<!DOCTYPE html>
<html>
<head>
    <title>F1 Calendar</title>
    <link rel="stylesheet" href="/static/Schedule.css">
    <script defer src="/static/scripts.js"></script>
    <script>
        if (localStorage.getItem("theme") === "light") {
            document.documentElement.classList.add("light-mode");
        }
    </script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script defer src="/static/theme-toggle.js"></script>
</head>

<body class="dark-mode">
    <header class="navbar">
    <div class="logo">
        <a href="{{ url_for('home') }}">
            <img src="/static/Img/F1.avif" alt="Driver">
        </a>
    </div>
    <nav>
        <a href="/data">Standings</a>
        <a href="/drivers">Drivers</a>
        <a href="/Calendar">Calendar</a>
        <div id="theme-toggle-root"></div>
    </nav>
</header>

    <div class="container">
        <h1>2026 Race Calendar</h1>
        <div id="schedule-grid"></div>
    </div>

    <script src="/static/Schedule.js"></script>
</body>
</html>
