<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Stats</title>

    <link rel="stylesheet" href="/Backend/staticstyle.css">
    <script defer src="/Backend/statics.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<header class="navbar">

    <div class="logo">
        <a href="{{ url_for('home') }}">
            <img src="/Backend/static.avif" alt="Driver">
        </a>
    </div>


    <nav>
        <a href="/data">Standings & New Race session</a>
        <a href="/drivers">Drivers</a>
        <a href="/teams">Teams</a>
        <a href="/Calendar">Calendar</a>
    </nav>
</header>

<main class="main-content">

    <section class="top-section">

        <div class="driver-card" onclick="location.href='/drivers'">
            <img src="/Backend/static26mclarenoscpia01right.avif" class="driver-image" alt="Driver">
            <h3>Drivers</h3>
            <p>Take a look at your favorite driver stats</p>
        </div>

        <div class="feature-card">
            <h2>F1 Dashboard</h2>
            <p>Experience live Formula 1 action with their lap stats, race results, See the drivers fastest lap results and add your own!</p>
        </div>

    </section>

    <section class="bottom-cards">

        <div class="card" onclick="goToTeams()">
            <img src="/Backend/static26mclarencarright.avif" class="card-img" alt="Teams">
            <h4>Teams</h4>
            <p>Take a look at current team stats</p>
        </div>

        <div class="card" onclick="goToSchedule()">
            <img src="/Backend/staticlendar.png" class="calendar-icon" alt="Schedule">
            <h4>Schedule</h4>
            <p>F1 Schedule for upcoming events</p>
        </div>

        <div class="card" onclick="goToRace()">
            <img src="/Backend/staticnnerHelmet.png" class="winner-helmet" alt="Standings">
            <h4>Standings & New Race session</h4>
            <p>See Race standings & Start a new race session! Compare your fastest lap times against real drivers</p>
        </div>

    </section>

</main>

<footer>
    <p>F1 Stats Dashboard</p>
</footer>

</body>
</html>